.footer {
  padding: 20px; /* Espacio alrededor del texto */
  text-align: center; /* Centra el texto en el footer */
  font-size: 16px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  margin-top: 20px; /* Espacio superior para separar del contenido principal */
}
.separator {
  border-top: 2px solid #ccc; /* Línea superior */
  margin: 0px 3px; /* Espaciado superior e inferior */
  width: 100%; /* Ancho completo */
}
