<div class="container-fluid">
  <div class="table-container">
    <!-- Tabla de vehículos -->
    <div class="table-responsive col-8">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Línea</th>
            <th scope="col">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of vehiculos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ c.marca }}</td>
            <td>{{ c.linea }}</td>
            <td>{{ c.modelo }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Totales por marca alineados con la tabla -->
    <div *ngFor="let marca of getMarcas()">
      <p>Total {{ marca }}: {{ totales[marca] }}</p>
    </div>
  </div>
</div>
